/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@import 'ngx-toastr/toastr';

.main-button {
    @apply bg-green-950 text-white px-12 py-2 bg-green-600 transition-colors duration-700 border rounded bg-green-800
}

.login-button {
    @apply bg-green-950 text-white px-12 py-2 bg-blue-600 transition-colors duration-700 border rounded bg-blue-800
}


.product {
    .addCartBtn {
        transform: translateY(100%);
        transition: all 1s;
        opacity: 0;
    }

    &:hover {
        .addCartBtn {
            transform: translateY(0);
            opacity: 1;
        }
    }
}